@font-face {
  font-family: 'y2026';
  src: url('./assets/fonts/Veneer.ttf') format('truetype');
}

@font-face {
  font-family: 'FontHappy';
  src: url('./assets/fonts/Handbrake.ttf') format('truetype');
}
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #4a0e0e 0%, #1a0202 100%);
  color: white;
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  text-align: center;
  z-index: 10;
  position: relative;
}


.title-wrapper {
  position: relative; /* Làm mốc để căn chỉnh các con bên trong */
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
.year {
  font-family: 'y2026', sans-serif;
  font-size: 20rem;
  margin: 0;
  color: #f2c641; 
  z-index: 1;
  line-height: 1;
  text-shadow: 0 0 30px rgba(242, 198, 65, 0.5);
}

.greeting {
  font-family: 'FontHappy', cursive;
  position: absolute;
  z-index: 2; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 7rem; 
  color: #fff; 
  white-space: nowrap; 
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.8); 
}
