@font-face {
  font-family: 'y2026';
  src: url('./assets/fonts/Wonderful\ Snowflake.otf') format('truetype');
}

@font-face {
  font-family: 'FontHappy';
  src: url('./assets/fonts/Handbrake.ttf') format('truetype');
}
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f1f; /* Màu nền tối (xanh đen) */
  color: white; /* Chữ màu trắng */
  margin: 0;
  height: 100vh; /* Chiều cao bằng 100% màn hình */
  display: flex;
  justify-content: center; /* Căn giữa ngang */
  align-items: center; /* Căn giữa dọc */
  overflow: hidden; /* Ẩn thanh cuộn */
}

.container {
  text-align: center;
  z-index: 10;
  position: relative;
}

.year {
  font-family: 'y2026', sans-serif;
  font-size: 12rem; 
  font-weight: bold;
  margin: 0;
  line-height: 1; 
  color: #ffcc00; 
  text-shadow: 0 0 20px rgba(255, 204, 0, 0.5); 
}

.greeting {
  font-family: 'FontHappy', serif; 
  font-size: 4rem;
  margin: 0;
  color: #F6E7BC; 
  letter-spacing: 5px; 
}